Repository kercre123/vicos-oelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CodeForCoffee, @udo-anki, @chapados, @DanielCasner, @nathan-anki, @AShelly

revert of RC ANKI_VERSION file update
  ANKI_VERSION
Owners: @CodeForCoffee, @udo-anki

Add trap to cleanup upon exit
  make_all.sh
Owners: none

VIC-8375 Backport fix for modem wait state for APQ8009 (#654)
  kernel/msm-3.18/drivers/soc/qcom/qdsp6v2/adsp-loader.c
  kernel/msm-3.18/sound/soc/codecs/msm8x16-wcd.c
Owners: none

Update version 1.7.0 (#658)
  ANKI_VERSION
Owners: @CodeForCoffee, @udo-anki

VIC-14140 Smoother Delta OTA Progress Reporting
  VICTOR_COMPAT_VERSION
  external/paycheck/update_payload/applier.py
  external/paycheck/update_payload/payload.py
  poky/meta-anki/recipes/anki-robot/files/update-engine.service
Owners: @CodeForCoffee, @chapados

Add makefile for generation F slot upgrades (#660)
  ota/fup.mk
Owners: none

VIC-14263 / VIC-8375 Backport fix for modem wait state for APQ8009 (#654)
  kernel/msm-3.18/drivers/soc/qcom/qdsp6v2/adsp-loader.c
  kernel/msm-3.18/sound/soc/codecs/msm8x16-wcd.c
Owners: none

Move kernel cmdline to kernel config
  poky/meta-qti-bsp/conf/machine/apq8009-robot.conf
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/perf/apq8009-robot/defconfig
Owners: none

Add kernel/msm-4.9 submodule
  .gitmodules
Owners: none

VIC-14055: Remove rb-mm-still from machine-robot-image
  poky/meta-qti-camera-prop/recipes-products/images/apq8009/apq8009-camera-robot-image.inc
Owners: none

update wlan recipe
  poky/meta-qti-wlan/recipes/wlan/wlan-opensource_git.bb
Owners: none

Remove thermal-engine from core-image
  poky/meta-qti-core-prop/recipes-products/images/apq8009/apq8009-core-image.inc
Owners: none

Add support for LDES_QPNP
  poky/meta-vicos/recipes-kernel/linux-msm/meta/cfg/debug/apq8009-robot/defconfig
Owners: none

Add usemodules DISTRO_FEATURE
  poky/meta-vicos/recipes-products/images/apq8009/apq8009-anki-robot-image.inc
Owners: none

start_usb: fix ADB for 4.9 kernel
  system/core/usb/start_usb
Owners: none

VIC-13948 rampost: Add support for opening spidev on 4.9 kernel
  anki/rampost/gpio.c
Owners: none

Add anki.dev flag to LK
  bootable/bootloader/lk/app/aboot/aboot.c
Owners: none

REVERT ME: Make all robots dev robots for Whiskey DVT1 purposes.
  bootable/bootloader/lk/app/aboot/aboot.c
Owners: none

VIC-4147 Force wlan driver to be 802.11n AP
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_cfg80211.c
Owners: none

wpa_supplicant: enable 11n support for AP mode
  poky/meta/recipes-connectivity/wpa-supplicant/wpa-supplicant/defconfig
Owners: none

VIC-4147 Always use 11A operational rates
  qcom-opensource/wlan/prima/CORE/SME/src/csr/csrApiRoam.c
Owners: none

VIC-4147 Cfg defaults to 802.11N + 12 Mpbs beacon rate
  android_compat/device/qcom/msm8909/WCNSS_qcom_cfg.ini
  qcom-opensource/wlan/prima/firmware_bin/WCNSS_qcom_cfg.ini
Owners: @DanielCasner

VIC-4147 Enable RTS/CTS for 2.4 GHz modes
  android_compat/device/qcom/msm8909/WCNSS_qcom_cfg.ini
Owners: @DanielCasner

VIC-4147 Fix gEnableRtsCtsHtVht param value (#304)
  android_compat/device/qcom/msm8909/WCNSS_qcom_cfg.ini
Owners: @DanielCasner

VIC-4968: update wpa-supplicant to version 2.6
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/99_wpa_supplicant
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/defconfig
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple1.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple2.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple3.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple4.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple5.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple6.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple7.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple8.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/wpa-supplicant.sh
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/wpa_supplicant.conf
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/wpa_supplicant.conf-sane
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant_2.6.bb
Owners: none

VIC-5811 Import connman_1.35.bb
  poky/meta-vicos/recipes-connectivity/connman/connman-conf.bb
  poky/meta-vicos/recipes-connectivity/connman/connman-conf/qemuall/wired-connection.service
  poky/meta-vicos/recipes-connectivity/connman/connman-conf/qemuall/wired-setup
  poky/meta-vicos/recipes-connectivity/connman/connman-conf/qemuall/wired.config
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/0001-Port-to-Gtk3.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/0001-Removed-icon-from-connman-gnome-about-applet.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/connman-gnome-fix-dbus-interface-name.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-01.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-02.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-03.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-04.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-05.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/null_check_for_ipv4_config.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome_0.7.bb
  poky/meta-vicos/recipes-connectivity/connman/connman.inc
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-connman.service-stop-systemd-resolved-when-we-use-co.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-giognutls-Fix-a-crash-using-wispr-over-TLS.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-inet-Add-prefixlen-to-iproute_default_function.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-plugin.h-Change-visibility-to-default-for-debug-symb.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-session-Keep-track-of-addr-in-fw_snat-session.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0002-inet-Implement-subnet-route-creation-deletion-in-ipr.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0002-resolve-musl-does-not-implement-res_ninit.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0003-inet-Implement-APIs-for-creating-and-deleting-subnet.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0004-session-Use-subnet-route-creation-and-deletion-APIs.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/connman
  poky/meta-vicos/recipes-connectivity/connman/connman/includes.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/no-version-scripts.patch
  poky/meta-vicos/recipes-connectivity/connman/connman_1.35.bb
Owners: none

VIC-5811 Create connman_1.36 recipe
  poky/meta-vicos/recipes-connectivity/connman/connman.inc
  poky/meta-vicos/recipes-connectivity/connman/connman_1.36.bb
Owners: none

VIC-5811 Customize connman for victor
  poky/meta-vicos/recipes-connectivity/connman/connman.inc
  poky/meta-vicos/recipes-connectivity/connman/connman/1000-Skip-calling-xtables_insmod.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/1001-Add-conf-settings-for-WiFi-tuning-params.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/connman-main.conf
  poky/meta-vicos/recipes-connectivity/connman/connman_1.36.bb
Owners: none

VIC-9504 Disable NTP client inside connman
  poky/meta-vicos/recipes-connectivity/connman/connman/1002-Disable-NTP-by-default.patch
  poky/meta-vicos/recipes-connectivity/connman/connman_1.36.bb
Owners: none

VIC-11362 Allow 'net' user DBus access to connman
  poky/meta-vicos/recipes-connectivity/connman/connman/1003-Allow-the-net-user-to-access-connman-over-DBus.patch
  poky/meta-vicos/recipes-connectivity/connman/connman_1.36.bb
Owners: none

WIP - add iwd and ell packages to robot image
  poky/meta-vicos/recipes-connectivity/ell/ell_0.17.bb
  poky/meta-vicos/recipes-connectivity/iwd/iwd_0.14.bb
  poky/meta-vicos/recipes-products/images/apq8009/apq8009-anki-robot-image.inc
Owners: none

VIC-8571: vicos changes to support drawing low battery icon before shutdown (#663)
  anki/fault-code/fault-code-handler
Owners: none

VIC-8375 Backport fix for modem wait state for APQ8009 (#654)
  kernel/msm-3.18/drivers/soc/qcom/qdsp6v2/adsp-loader.c
  kernel/msm-3.18/sound/soc/codecs/msm8x16-wcd.c
Owners: none

VIC-4147 Force wlan driver to be 802.11n AP
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_cfg80211.c
Owners: none

wpa_supplicant: enable 11n support for AP mode
  poky/meta/recipes-connectivity/wpa-supplicant/wpa-supplicant/defconfig
Owners: none

VIC-4147 Enable RTS/CTS for 2.4 GHz modes
  android_compat/device/qcom/msm8909/WCNSS_qcom_cfg.ini
Owners: @DanielCasner

VIC-4147 Cfg defaults to 802.11N + 12 Mpbs beacon rate
  android_compat/device/qcom/msm8909/WCNSS_qcom_cfg.ini
  qcom-opensource/wlan/prima/firmware_bin/WCNSS_qcom_cfg.ini
Owners: @DanielCasner

VIC-4147 Always use 11A operational rates
  qcom-opensource/wlan/prima/CORE/SME/src/csr/csrApiRoam.c
Owners: none

VIC-5811 Import connman_1.35.bb
  poky/meta-vicos/recipes-connectivity/connman/connman-conf.bb
  poky/meta-vicos/recipes-connectivity/connman/connman-conf/qemuall/wired-connection.service
  poky/meta-vicos/recipes-connectivity/connman/connman-conf/qemuall/wired-setup
  poky/meta-vicos/recipes-connectivity/connman/connman-conf/qemuall/wired.config
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/0001-Port-to-Gtk3.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/0001-Removed-icon-from-connman-gnome-about-applet.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/connman-gnome-fix-dbus-interface-name.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-01.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-02.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-03.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-04.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/images/connman-signal-05.png
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome/null_check_for_ipv4_config.patch
  poky/meta-vicos/recipes-connectivity/connman/connman-gnome_0.7.bb
  poky/meta-vicos/recipes-connectivity/connman/connman.inc
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-connman.service-stop-systemd-resolved-when-we-use-co.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-giognutls-Fix-a-crash-using-wispr-over-TLS.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-inet-Add-prefixlen-to-iproute_default_function.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-plugin.h-Change-visibility-to-default-for-debug-symb.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0001-session-Keep-track-of-addr-in-fw_snat-session.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0002-inet-Implement-subnet-route-creation-deletion-in-ipr.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0002-resolve-musl-does-not-implement-res_ninit.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0003-inet-Implement-APIs-for-creating-and-deleting-subnet.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/0004-session-Use-subnet-route-creation-and-deletion-APIs.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/connman
  poky/meta-vicos/recipes-connectivity/connman/connman/includes.patch
  poky/meta-vicos/recipes-connectivity/connman/connman/no-version-scripts.patch
  poky/meta-vicos/recipes-connectivity/connman/connman_1.35.bb
Owners: none

VIC-4968: update wpa-supplicant to version 2.6
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/99_wpa_supplicant
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/defconfig
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple1.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple2.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple3.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple4.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple5.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple6.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple7.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/key-replay-cve-multiple8.patch
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/wpa-supplicant.sh
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/wpa_supplicant.conf
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant/wpa_supplicant.conf-sane
  poky/meta-vicos/recipes-connectivity/wpa-supplicant/wpa-supplicant_2.6.bb
Owners: none

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

.github/CODEOWNERS @CodeForCoffee
poky/build/build.sh @CodeForCoffee
ANKI_VERSION @CodeForCoffee @udo-anki
VICTOR_COMPAT_VERSION @CodeForCoffee @chapados

# Don't touch anything that could invalidate our FCC certification without telling Daniel
android_compat/device/qcom/msm8909/ @DanielCasner
poky/meta-qti-bsp-prop/recipes-products/images/apq-persist-image.inc @DanielCasner
poky/meta-qti-wlan/recipes/wlan/wcnss_git.bb @DanielCasner

# Changes to syscon firmware require HW process checking
./poky/meta-anki/recipes-core/initscript-anki/files/syscon.dfu @nathan-anki @AShelly
./poky/meta-anki/recipes-core/initscript-anki/files/init-boot.sh @DanielCasner @AShelly
