Repository kercre123/vicos-oelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CodeForCoffee, @udo-anki, @DanielCasner

Changed c/c++ wrapper for camera interface
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/Android.mk
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/wrapper.cpp
Owners: none

Removed wrapper for camera interface
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/Android.mk
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.h
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/wrapper.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/wrapper.h
Owners: none

VIC-12299: Reduce auto-calibrations - Syscon version Pr00000002bdc12 - Victor Repo Hash c672f7cf2
  poky/meta-anki/recipes-core/initscript-anki/files/syscon.dfu
Owners: none

VIC-12299: Reduce auto-calibrations (#531)
  poky/meta-anki/recipes-core/initscript-anki/files/syscon.dfu
Owners: none

VIC-8365: Set explicit stdout/stderr on fault-code.service (#530)
  poky/meta-anki/recipes/fault-code/files/fault-code.service
Owners: none

Comment out Android header in Video lib
  camera/lib-legacy/QCamera2/stack/mm-jpeg-interface/inc/mm_jpeg_ionbuf.h
  camera/services/mm-camera-legacy/mm-camera2/media-controller/modules/imglib/utils/img_buffer.h
  camera/services/mm-camera-legacy/mm-camera2/server-imaging/server.c
  camera/services/mm-camera-legacy/mm-camera2/server-imaging/server_process.c
Owners: none

defconfig: add audio and specify dtb file
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
Owners: none

start_usb: fix ADB for 4.9 kernel
  system/core/usb/start_usb
Owners: none

defconfig: enable vic_lcd driver
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
Owners: none

rampost: use kernel LCD driver
  external/rampost/animfail.c
  external/rampost/lcd.c
  external/rampost/lcd.h
  external/rampost/rampost.c
Owners: none

Adapt regulator names for 4.9
  poky/meta-anki/recipes-core/initscript-anki/files/init-boot.sh
Owners: none

defconfig: enable WLAN modules
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
Owners: none

wlan: Modify wlan driver to support msm-4.9 kernel
  qcom-opensource/wlan/prima/Android.mk
  qcom-opensource/wlan/prima/CORE/HDD/inc/bap_hdd_misc.h
  qcom-opensource/wlan/prima/CORE/HDD/inc/wlan_hdd_cfg80211.h
  qcom-opensource/wlan/prima/CORE/HDD/inc/wlan_hdd_main.h
  qcom-opensource/wlan/prima/CORE/HDD/inc/wlan_hdd_p2p.h
  qcom-opensource/wlan/prima/CORE/HDD/inc/wlan_hdd_tx_rx.h
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_assoc.c
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_cfg80211.c
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_early_suspend.c
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_hostapd.c
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_main.c
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_p2p.c
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_softap_tx_rx.c
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_tx_rx.c
  qcom-opensource/wlan/prima/CORE/SME/src/csr/csrApiRoam.c
  qcom-opensource/wlan/prima/CORE/SME/src/csr/csrNeighborRoam.c
  qcom-opensource/wlan/prima/CORE/SVC/src/logging/wlan_logging_sock_svc.c
  qcom-opensource/wlan/prima/CORE/VOSS/inc/i_vos_lock.h
  qcom-opensource/wlan/prima/CORE/VOSS/inc/vos_api.h
  qcom-opensource/wlan/prima/CORE/VOSS/inc/vos_lock.h
  qcom-opensource/wlan/prima/CORE/VOSS/inc/vos_utils.h
  qcom-opensource/wlan/prima/CORE/VOSS/src/vos_lock.c
  qcom-opensource/wlan/prima/CORE/VOSS/src/vos_nvitem.c
  qcom-opensource/wlan/prima/CORE/VOSS/src/vos_sched.h
  qcom-opensource/wlan/prima/CORE/VOSS/src/vos_utils.c
  qcom-opensource/wlan/prima/CORE/WDI/WPAL/src/wlan_qct_pal_timer.c
  qcom-opensource/wlan/prima/Kbuild
Owners: none

qcom-wlan: fix the Makefile
  qcom-opensource/wlan/prima/Makefile
Owners: none

qcom-opensource: Inherit changes from LE 2.0
  poky/meta-qti-wlan/recipes/wlan/wlan-opensource_git.bb
Owners: none

VIC-11089: Enable anki-crash-log service for all configurations (#513)
  poky/meta-anki/recipes-products/images/apq8009/apq8009-anki-robot-image.inc
Owners: none

VIC-12095: Revise fault-code-handler to suppress display of multiple faults (#521)
  anki/fault-code/fault-code-clear
  anki/fault-code/fault-code-handler
  poky/meta-anki/recipes/fault-code/fault-code_git.bb
Owners: none

VIC-12299: Reduce auto-calibrations (#531)
  poky/meta-anki/recipes-core/initscript-anki/files/syscon.dfu
Owners: none

VIC-8365: Set explicit stdout/stderr on fault-code.service (#530)
  poky/meta-anki/recipes/fault-code/files/fault-code.service
Owners: none

.gitignore poky/build-victor-robot-facdev-image
  poky/.gitignore
Owners: none

VIC-6458: bluetooth: Update opensource bluetooth
  vendor/qcom/opensource/bluetooth/system_bt_ext/btif/src/btif_avk.c
  vendor/qcom/opensource/bluetooth/system_bt_ext/btif/src/btif_avk_media_task.c
  vendor/qcom/opensource/bluetooth/system_bt_ext/btif/src/btif_avk_rc.c
  vendor/qcom/opensource/bluetooth/vhal/include/hardware/bt_av_vendor.h
  vendor/qcom/opensource/bluetooth/vhal/include/hardware/vendor.h
Owners: none

Added htop
  poky/meta/recipes-extended/htop/htop_1.0.3.bb
Owners: none

VIC-12315: Enable tracelog events in ankitrace
  poky/meta-anki/recipes/ankitrace/files/ankitrace
Owners: none

VIC-11363 Let 'robot' 'sudo fake-hwclock-tick'
  poky/meta-anki/recipes/anki-robot/files/robot.sudoers
  poky/meta-anki/recipes/anki-robot/vic-robot.bb
Owners: none

VIC-11363 Run vic-robot as 'robot'
  poky/meta-anki/recipes/anki-robot/files/vic-robot.service
Owners: none

Poking the cameras
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/Android.mk
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.cpp
Owners: none

VIC-12426: Reverting removal of logwrapper
  poky/meta-anki/recipes/anki-robot/files/update-engine.service
  poky/meta-anki/recipes/anki-robot/files/vic-anim.service
  poky/meta-anki/recipes/anki-robot/files/vic-cloud.service
  poky/meta-anki/recipes/anki-robot/files/vic-crashuploader.service
  poky/meta-anki/recipes/anki-robot/files/vic-dasmgr.service
  poky/meta-anki/recipes/anki-robot/files/vic-engine.service
  poky/meta-anki/recipes/anki-robot/files/vic-gateway.service
  poky/meta-anki/recipes/anki-robot/files/vic-neuralnets.service
  poky/meta-anki/recipes/anki-robot/files/vic-switchboard.service
  poky/meta-anki/recipes/anki-robot/files/vic-webserver.service
  poky/meta-anki/recipes/fault-code/files/fault-code.service
Owners: none

VIC-12426: Reverting removal of logwrapper
  poky/meta-anki/recipes/anki-robot/files/update-engine.service
  poky/meta-anki/recipes/anki-robot/files/vic-anim.service
  poky/meta-anki/recipes/anki-robot/files/vic-cloud.service
  poky/meta-anki/recipes/anki-robot/files/vic-crashuploader.service
  poky/meta-anki/recipes/anki-robot/files/vic-dasmgr.service
  poky/meta-anki/recipes/anki-robot/files/vic-engine.service
  poky/meta-anki/recipes/anki-robot/files/vic-gateway.service
  poky/meta-anki/recipes/anki-robot/files/vic-neuralnets.service
  poky/meta-anki/recipes/anki-robot/files/vic-switchboard.service
  poky/meta-anki/recipes/anki-robot/files/vic-webserver.service
  poky/meta-anki/recipes/fault-code/files/fault-code.service
Owners: none

VIC-6458: bluetooth: Update opensource bluetooth
  vendor/qcom/opensource/bluetooth/system_bt_ext/btif/src/btif_avk.c
  vendor/qcom/opensource/bluetooth/system_bt_ext/btif/src/btif_avk_media_task.c
  vendor/qcom/opensource/bluetooth/system_bt_ext/btif/src/btif_avk_rc.c
  vendor/qcom/opensource/bluetooth/vhal/include/hardware/bt_av_vendor.h
  vendor/qcom/opensource/bluetooth/vhal/include/hardware/vendor.h
Owners: none

Working pdoran camera
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/Android.mk
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/application.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/application.h
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.h
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/event.h
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/main_pdoran.cpp
Owners: none

Add documentation regarding the modem and cnss (WiFi) firmware. (#534)
  README.md
Owners: none

Add SBGGR10P file dumping
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/Android.mk
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.h
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/util.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/util.h
Owners: none

Refactored camera rdi to generalize for other camera types
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/Android.mk
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/application.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera.h
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera_rdi.cpp
  camera/lib-legacy/QCamera2/stack/mm-camera-pdoran/src/camera_rdi.h
Owners: none

[PATCH v3 1/2] drivers/tty: refactor functions for flushing/queuing work
  kernel/msm-3.18/drivers/tty/n_tty.c
  kernel/msm-3.18/drivers/tty/tty_buffer.c
  kernel/msm-3.18/drivers/tty/tty_ldisc.c
  kernel/msm-3.18/drivers/tty/tty_port.c
  kernel/msm-3.18/include/linux/tty.h
Owners: none

[PATCH v3 2/2] drivers/tty: use a kthread_worker for low-latency
  kernel/msm-3.18/drivers/tty/tty_buffer.c
  kernel/msm-3.18/drivers/tty/tty_io.c
  kernel/msm-3.18/include/linux/tty.h
Owners: none

VIC-11885: Add meta-vicos-mods layer with syslog-ng bbappend
  poky/meta-vicos-mods/conf/layer.conf
  poky/meta-vicos-mods/recipes-support/syslog-ng/files/syslog-ng.conf.systemd
  poky/meta-vicos-mods/recipes-support/syslog-ng/files/syslog-ng@.service
  poky/meta-vicos-mods/recipes-support/syslog-ng/syslog-ng_%.bbappend
Owners: none

VIC-12481 build-victor-robot-image-incremental (#536)
  poky/.gitignore
  poky/build/.gitignore
  poky/build/build.sh
  poky/build/conf/set_bb_env.sh
Owners: @CodeForCoffee

Bump version for hotfix.
  ANKI_VERSION
Owners: @CodeForCoffee, @udo-anki

VIC-12519 Reboot overnight if an OS update is pending
  external/rebooter/rebooter.py
Owners: none

VIC-5603 Enable rsyncd port 1873 for debug builds
  poky/meta-vicos/recipes-extended/iptables-persistent/files/ip6tables-eng.rules
  poky/meta-vicos/recipes-extended/iptables-persistent/files/iptables-eng.rules
Owners: none

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

.github/CODEOWNERS @CodeForCoffee
poky/build/build.sh @CodeForCoffee
ANKI_VERSION @CodeForCoffee @udo-anki

# Don't touch anything that could invalidate our FCC certification without telling Daniel
android_compat/device/qcom/msm8909/ @DanielCasner
poky/meta-qti-bsp-prop/recipes-products/images/apq-persist-image.inc @DanielCasner
poky/meta-qti-wlan/recipes/wlan/wcnss_git.bb @DanielCasner
