Repository kercre123/vicos-oelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CodeForCoffee, @udo-anki, @DanielCasner

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

.github/CODEOWNERS @CodeForCoffee
poky/build/build.sh @CodeForCoffee
ANKI_VERSION @CodeForCoffee @udo-anki

# Don't touch anything that could invalidate our FCC certification without telling Daniel
android_compat/device/qcom/msm8909/ @DanielCasner
poky/meta-qti-bsp-prop/recipes-products/images/apq-persist-image.inc @DanielCasner
poky/meta-qti-wlan/recipes/wlan/wcnss_git.bb @DanielCasner

Revert "Make msm_serial_hs_light use threaded irq"
  kernel/msm-3.18/drivers/tty/serial/msm_serial_hs_lite.c
Owners: none

Disable DM-Verity and enable persistent /data in facdev build flavor (#564)
  poky/meta-qti-bsp/recipes-core/base-files/base-files_3.0.14.bbappend
  poky/meta-qti-bsp/recipes-core/systemd/systemd/mount-data
  poky/meta-qti-bsp/recipes-core/systemd/systemd_225.bbappend
  poky/meta-qti-bsp/recipes-products/images/apq8009/apq8009-base-image.inc
Owners: none

Vic-12733 -> Factory: Rampost Checks LCD Status Registers (#562)
  poky/meta-anki/recipes/rampost/files/animfail.c
  poky/meta-anki/recipes/rampost/files/anki_dev_unit.h
  poky/meta-anki/recipes/rampost/files/das.h
  poky/meta-anki/recipes/rampost/files/dfu.c
  poky/meta-anki/recipes/rampost/files/dfu.h
  poky/meta-anki/recipes/rampost/files/error_801.h
  poky/meta-anki/recipes/rampost/files/error_802.h
  poky/meta-anki/recipes/rampost/files/gpio.c
  poky/meta-anki/recipes/rampost/files/gpio.h
  poky/meta-anki/recipes/rampost/files/lcd.c
  poky/meta-anki/recipes/rampost/files/lcd.h
  poky/meta-anki/recipes/rampost/files/lcd_bitbang.c
  poky/meta-anki/recipes/rampost/files/low_battery.h
  poky/meta-anki/recipes/rampost/files/messages.h
  poky/meta-anki/recipes/rampost/files/rampost.c
  poky/meta-anki/recipes/rampost/files/rampost.h
  poky/meta-anki/recipes/rampost/files/spine_hal.c
  poky/meta-anki/recipes/rampost/files/spine_hal.h
  poky/meta-anki/recipes/rampost/files/too_hot.h
  poky/meta-anki/recipes/rampost/rampost.bb
Owners: none

VIC-2911: make sure /data/run/connman exists in addition to /data/lib/connman
  poky/meta-qti-bsp/recipes-core/systemd/systemd/mount-data
Owners: none

WIP
  poky/meta-anki/recipes-products/images/apq8009/apq8009-anki-robot-image.inc
  poky/meta-qti-bsp/classes/go.bbclass
  poky/meta/classes/update-alternatives.bbclass
  poky/meta/recipes-core/util-linux/util-linux.inc
Owners: none

WIP
  .gitmodules
  poky/meta-qti-bsp/classes/go.bbclass.dont_use
Owners: none

RND-docker: drill some holes in the firewall for Docker
  poky/meta-anki/recipes-connectivity/iptables-persistent/files/iptables-eng.rules
Owners: none

WIP2
  poky/meta-qti-bsp/conf/machine/apq8009-robot.conf
  poky/meta-qti-bsp/conf/machine/include/apq8009.inc
  poky/meta-qti-bsp/recipes-core/systemd/systemd/mount-data
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
  poky/meta-qti-bsp/recipes-products/images/apq8009/apq8009-base-image.inc
Owners: none

more locks
  kernel/msm-3.18/drivers/iommu/msm_iommu-v1.c
  kernel/msm-3.18/drivers/usb/phy/phy-msm-usb.c
Owners: none

RT-PATCH testing
  poky/build/conf/local.conf
  poky/meta-anki/recipes/ankiinit/files/ankiinit.sh
  poky/meta-anki/recipes/ankitrace/files/ankitrace
  poky/meta-qti-bsp/conf/machine/apq8009-robot.conf
  poky/meta/recipes-core/systemd/systemd_225.bb
Owners: none

[PATCH v3 2/2] drivers/tty: use a kthread_worker for low-latency
  kernel/msm-3.18/drivers/tty/tty_buffer.c
  kernel/msm-3.18/drivers/tty/tty_io.c
  kernel/msm-3.18/include/linux/tty.h
Owners: none

[PATCH v3 1/2] drivers/tty: refactor functions for flushing/queuing work
  kernel/msm-3.18/drivers/tty/n_tty.c
  kernel/msm-3.18/drivers/tty/tty_buffer.c
  kernel/msm-3.18/drivers/tty/tty_ldisc.c
  kernel/msm-3.18/drivers/tty/tty_port.c
  kernel/msm-3.18/include/linux/tty.h
Owners: none

renamed repository github.com/anki/rnd-meta-docker -> github.com/anki/rnd19-meta-docker
  .gitmodules
Owners: none

VIC-12963 update-os: Handle empty string crash
  poky/meta-anki/recipes/update-os/files/update-os.sh
Owners: none

VIC-6724: Add vic-on-exit handler for vic-gateway-cert service (#565)
  poky/meta-anki/recipes/anki-robot/files/vic-gateway-cert.service
Owners: none

VIC-12963 update-os: Support delta-latest
  poky/meta-anki/recipes/update-os/files/update-os.sh
Owners: none

more config for RT
  kernel/msm-3.18/drivers/tty/serial/msm_serial_hs.c
  poky/meta-anki/recipes/ankiinit/files/ankiinit.sh
Owners: none

remove iso on vic-robot
  poky/build/conf/local.conf
  poky/meta-anki/recipes/anki-robot/files/vic-robot.service
Owners: none

Always use low_latency tty
  kernel/msm-3.18/drivers/tty/tty_buffer.c
Owners: none

Add more spinlock changes
  kernel/msm-3.18/drivers/soc/qcom/smd.c
  kernel/msm-3.18/drivers/soc/qcom/smd_init_dt.c
  kernel/msm-3.18/drivers/soc/qcom/smd_private.h
  kernel/msm-3.18/drivers/soc/qcom/smp2p_spinlock_test.c
  kernel/msm-3.18/drivers/tty/serial/msm_serial_hs.c
Owners: none

Revert "VIC-11363 Let 'robot' 'sudo fake-hwclock-tick'"
  ANKI_VERSION
  poky/meta-anki/recipes/anki-robot/files/robot.sudoers
  poky/meta-anki/recipes/anki-robot/vic-robot.bb
Owners: @CodeForCoffee, @udo-anki

VIC-2911: patch systemd tmpfiles stuff
  poky/meta-vicos/recipes-core/systemd/systemd/0001-VIC-2911-do-not-attempt-to-remove-etc-mtab.patch
  poky/meta-vicos/recipes-core/systemd/systemd/0001-VIC-2911-fixing-problems-with-systemd-tmpfiles-setup.patch
  poky/meta-vicos/recipes-core/systemd/systemd/0001-VIC-2911-take-out-references-to-systemd-tmpfiles.patch
  poky/meta-vicos/recipes-core/systemd/systemd_225.bbappend
Owners: none

VIC-12801: Add fake-hwclock socket activation
  external/fake-hwclock/fake-hwclock
  external/fake-hwclock/fake-hwclock-cmd.service
  external/fake-hwclock/fake-hwclock-cmd.socket
  poky/meta-anki/recipes/fake-hwclock/fake-hwclock_git.bb
Owners: none

Revert "VIC-12601: Remove memlock limit for vic-robot"
  poky/meta-anki/recipes/anki-robot/files/vic-robot.service
Owners: none

VIC-2911: don't install /etc/tmpfiles.d/connman_resolvconf.conf
  poky/meta-vicos/recipes-connectivity/connman/connman.inc
Owners: none

VIC-12801: Add fake-hwclock socket activation
  external/fake-hwclock/fake-hwclock
  external/fake-hwclock/fake-hwclock-cmd.service
  external/fake-hwclock/fake-hwclock-cmd.socket
  poky/meta-anki/recipes/fake-hwclock/fake-hwclock_git.bb
Owners: none

Revert "VIC-12601: Remove memlock limit for vic-robot"
  poky/meta-anki/recipes/anki-robot/files/vic-robot.service
Owners: none

Revert "VIC-11363 Let 'robot' 'sudo fake-hwclock-tick'"
  ANKI_VERSION
  poky/meta-anki/recipes/anki-robot/files/robot.sudoers
  poky/meta-anki/recipes/anki-robot/vic-robot.bb
Owners: @CodeForCoffee, @udo-anki

Revert "VIC-12733: rampost now reads LCD status (#560)"
  external/rampost/Makefile
  external/rampost/das.h
  external/rampost/dfu.c
  external/rampost/dfu.h
  external/rampost/gpio.c
  external/rampost/gpio.h
  external/rampost/lcd.c
  external/rampost/lcd.h
  external/rampost/lcd_bitbang.c
  external/rampost/messages.h
  external/rampost/rampost.c
  external/rampost/rampost.h
  external/rampost/spine_hal.c
  external/rampost/spine_hal.h
Owners: none

VIC-7378: fix /etc/resolv.conf symlink
  poky/meta-qti-bsp/recipes-core/systemd/systemd/mount-data
  poky/meta-vicos/recipes-connectivity/connman/connman.inc
Owners: none

VIC-12963 update-os: Fix URL handling bug
  poky/meta-anki/recipes/update-os/files/update-os.sh
Owners: none

VIC-13055: Reduce encoder drift by adding direction hysteresis
  poky/meta-anki/recipes-core/initscript-anki/files/syscon.dfu
Owners: none

Tech Debt: Add bbclass to publish symbol files for backtrace (#571)
  poky/meta-anki/classes/anki-symbol-files.bbclass
  poky/meta-anki/recipes-core/curl/curl_7.54.0.bbappend
  poky/meta-anki/recipes-core/glibc/glibc_2.22.bbappend
  poky/meta-anki/recipes-core/liblog/liblog.bbappend
  poky/meta-anki/recipes-core/libunwind/libunwind.bbappend
  poky/meta-anki/recipes-kernel/lttng/lttng-ust_2.10.1.bbappend
  poky/meta-anki/recipes-support/liburcu/liburcu_0.8.7.bbappend
Owners: none

VIC-1951 Create system user/group for logd
  poky/meta-anki/recipes/anki-robot/victor.bb
  system/core/logd/logd.service
Owners: none

VIC-1951 Add attr and libcap-bin to dev build
  poky/meta-qti-bsp/recipes-products/images/apq8009/apq8009-robot-image.inc
Owners: none

VIC-1951 Run bluetooth apps as the bluetooth user
  poky/meta-qti-bsp/files/config_files/anki_user_config
  poky/meta-qti-bsp/recipes-connectivity/ankibluetoothd/ankibluetoothd_git.bb
  poky/meta-qti-bsp/recipes-connectivity/ankibluetoothd/files/ankibluetoothd.service
  poky/meta-qti-bsp/recipes-connectivity/ankibluetoothd/files/smd23.rules
  poky/meta-qti-bsp/recipes-core/systemd/systemd/mount-data
  poky/meta-qti-bt/recipes/bt-property/files/btproperty.service
Owners: none

VIC-1951 Backport AmbientCapabilities support from systemd v229
  poky/meta-qti-bsp/recipes-core/systemd/systemd/1004-capabilities-keep-bounding-set-in-non-inverted-forma.patch
  poky/meta-qti-bsp/recipes-core/systemd/systemd/1005-capabilities-added-support-for-ambient-capabilities.patch
  poky/meta-qti-bsp/recipes-core/systemd/systemd_225.bbappend
Owners: none

Revert "VIC-4147 Cfg defaults to 802.11N + 12 Mpbs beacon rate"
  android_compat/device/qcom/msm8909/WCNSS_qcom_cfg.ini
  qcom-opensource/wlan/prima/firmware_bin/WCNSS_qcom_cfg.ini
Owners: @DanielCasner

Revert "VIC-4147 Always use 11A operational rates"
  qcom-opensource/wlan/prima/CORE/SME/src/csr/csrApiRoam.c
Owners: none

Revert "VIC-4147 Force wlan driver to be 802.11n AP"
  qcom-opensource/wlan/prima/CORE/HDD/src/wlan_hdd_cfg80211.c
Owners: none
