Repository kercre123/vicos-oelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CodeForCoffee, @udo-anki, @chapados, @DanielCasner, @nathan-anki, @AShelly

Update version 1.6.0 and 101
  ANKI_VERSION
  VICTOR_COMPAT_VERSION
Owners: @CodeForCoffee, @udo-anki, @chapados

VIC-9974 Allow vic-robot to read EMR (#623)
  poky/meta-anki/recipes/anki-robot/files/vic-robot.service
Owners: none

VIC-9888 README.md - Explain VICTOR_COMPAT_VERSION
  README.md
Owners: none

EMR enhancements for Whiskey support * Add emr-cat option to dump the entire structure * Expose HW_VER and MODEL from EMR as properties
  poky/meta-anki/recipes/ankiinit/files/ankiinit.sh
  poky/meta-qti-bsp/recipes-extended/emr-cat/files/emr-cat.c
Owners: none

Update sysfs path for rpm-smd regulators
  poky/meta-anki/recipes-core/initscript-anki/files/init-boot.sh
Owners: none

Tech Debt: Revise fake-hwclock to fix stray output (#626)
  external/fake-hwclock/fake-hwclock
Owners: none

Remove unused headers that break builds with 4.9
  camera/lib-legacy/QCamera2/stack/mm-jpeg-interface/inc/mm_jpeg_ionbuf.h
  camera/services/mm-camera-legacy/mm-camera2/media-controller/modules/imglib/utils/img_buffer.h
Owners: none

Add linux-msm_4.9 recipe
  poky/meta-vicos/recipes-kernel/linux-msm/linux-msm_4.9.bb
  poky/meta-vicos/recipes-kernel/linux-msm/meta/cfg/debug/apq8009-robot/defconfig
  poky/meta-vicos/recipes-kernel/linux-msm/meta/cfg/perf/apq8009-robot/defconfig
Owners: none

Add usemodules DISTRO_FEATURE
  poky/meta-vicos/recipes-products/images/apq8009/apq8009-anki-robot-image.inc
Owners: none

Move kernel cmdline to kernel config
  poky/meta-qti-bsp/conf/machine/apq8009-robot.conf
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/perf/apq8009-robot/defconfig
Owners: none

update wlan recipe
  poky/meta-qti-wlan/recipes/wlan/wlan-opensource_git.bb
Owners: none

start_usb: fix ADB for 4.9 kernel
  system/core/usb/start_usb
Owners: none

Fix the CMDLINE config in defconfig
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/perf/apq8009-robot/defconfig
Owners: none

VIC-13756 Grant net user update-engine permissions. (#638)
  poky/meta-anki/recipes/anki-robot/files/anki.sudoers
Owners: none

VIC-13372 Add missing CONFIG_RTC_* options for kernel
  poky/meta-qti-bsp/recipes-kernel/linux-quic/meta/cfg/debug/apq8009-robot/defconfig
Owners: none

VIC-14055: Remove rb-mm-still from machine-robot-image
  poky/meta-qti-camera-prop/recipes-products/images/apq8009/apq8009-camera-robot-image.inc
Owners: none

VIC-13948 rampost: Add support for opening spidev on 4.9 kernel
  anki/rampost/gpio.c
Owners: none

Add dependencies for building yocto
  docker/Dockerfile
  docker/build-git.sh
  docker/install-deps.sh
Owners: none

Add script to build OS in docker env
  build_docker.sh
Owners: none

Create separate user to build with
  docker/Dockerfile
Owners: none

Enable L4 regulator in rampost binary.
  poky/meta-anki/recipes/rampost/files/rampost.c
Owners: none

VIC-9745 delete-old-files-and-directories-in-slash-tmp.sh
  poky/build/delete-old-files-and-directories-in-slash-tmp.sh
Owners: none

VIC-9745 setup-git-lfs.sh build step
  poky/build/setup-git-lfs.sh
Owners: none

VIC-14081: Use syscon battery flags rather than analog comparisons in rampost.
  anki/rampost/messages.h
  anki/rampost/rampost.c
Owners: none

Make OTA makefile accept env overrride on image source path
  ota/Makefile
Owners: none

VIC-12404 Set ANKI_VERSION to 0.16.0 for RMA build
  ANKI_VERSION
Owners: @CodeForCoffee, @udo-anki

VIC-14054 rampost: Add support for opening spidev on 4.9 kernel
  anki/rampost/gpio.c
Owners: none

VIC-12404 Self Destruct Build
  poky/meta-anki/recipes/ankiinit/files/ankiinit.sh
Owners: none

VIC-14067: Rampost only displays too hot for POWER_IS_OVERHEATED flag.
  anki/rampost/rampost.c
Owners: none

VIC-14069: Syscon sets power_low when powering on with low battery rather than turning off imeediately.
  poky/meta-anki/recipes-core/initscript-anki/files/syscon.dfu
Owners: none

VIC-12404 Disable automatic OTA updates
  poky/meta-anki/recipes/anki-robot/anki-update-engine.bb
  poky/meta-anki/recipes/anki-robot/files/update-engine-oneshot.service
  poky/meta-anki/recipes/anki-robot/files/update-engine.timer
Owners: none

VIC-12404 Disable automatic reboots
  anki/rebooter/rebooter.py
  anki/rebooter/rebooter.service
  anki/rebooter/rebooter.timer
  poky/meta-anki/recipes-products/images/apq8009/apq8009-anki-robot-image.inc
  poky/meta-anki/recipes/rebooter/rebooter_git.bb
Owners: none

Don't try to make OTA in build script. there is a separate step for that.
  poky/build/build.sh
Owners: @CodeForCoffee

Increment factory version to 0.9.1 which is what we have been universally calling it in development and to distinquish whiskey factory OS from Victor factory OS.
  ANKI_VERSION
Owners: @CodeForCoffee, @udo-anki

VIC-14080 vic-christen should check for /factory/name and set name with contents of file (#653)
  anki/vic-christen/christen.cpp
Owners: none

Rsync repo to docker container for better perf
  build_docker.sh
  docker/Dockerfile
  docker/install-deps.sh
  docker/rsync/rsync
  docker/rsync/rsyncd.conf
  docker/rsync/rsyncd.secrets
Owners: none

Add DAS_EVENT to check flags in rampost.
  anki/rampost/rampost.c
Owners: none

Cleanup docker env make script
  build_docker.sh
  docker/Dockerfile
  docker/install-deps.sh
  make_all.sh
Owners: none

Update version 1.7.0 as well as 104
  ANKI_VERSION
  VICTOR_COMPAT_VERSION
Owners: @CodeForCoffee, @udo-anki, @chapados

Revert of compat file change
  VICTOR_COMPAT_VERSION
Owners: @CodeForCoffee, @chapados

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

.github/CODEOWNERS @CodeForCoffee
poky/build/build.sh @CodeForCoffee
ANKI_VERSION @CodeForCoffee @udo-anki
VICTOR_COMPAT_VERSION @CodeForCoffee @chapados

# Don't touch anything that could invalidate our FCC certification without telling Daniel
android_compat/device/qcom/msm8909/ @DanielCasner
poky/meta-qti-bsp-prop/recipes-products/images/apq-persist-image.inc @DanielCasner
poky/meta-qti-wlan/recipes/wlan/wcnss_git.bb @DanielCasner

# Changes to syscon firmware require HW process checking
./poky/meta-anki/recipes-core/initscript-anki/files/syscon.dfu @nathan-anki @AShelly
./poky/meta-anki/recipes-core/initscript-anki/files/init-boot.sh @DanielCasner @AShelly
